{% extends "layout.html" %}

{% block heading %}
    Welcome, {{ session["username"] }}
{% endblock %}

{% block body %}
    <form action="/search" method="POST">

        <div class="input">
            <label for="isbn">ISBN</label>
            <input name="isbn" type="text" placeholder="isbn">
        </div>

        <div class="input">
            <label for="title">title</label>
            <input name="title" type="text" placeholder="title">
        </div>

        <div class="input">
            <label for="author">author</label>
            <input name="author" type="text" placeholder="author">
        </div>

        <div class="input">
            <input type="submit">
        </div>

    </form>
{% endblock %}
